@using StackExchange.Profiling
@using ScriptMode = Ext.Net.ScriptMode
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>@ViewBag.Title</title>
     <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	@RenderSection("headtag", false)
</head>
<body>
    @Html.X().ResourceManager(ViewBag.ManagerConfig as MvcResourceManagerConfig).StartupMask(new StartupMask()).SourceFormatting(true).ScriptMode(ScriptMode.Development)
    @RenderSection("bodytag", true)
</body>
    @*@MiniProfiler.RenderIncludes()*@
    
</html>