@using ScriptMode = Ext.Net.ScriptMode
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>@ViewBag.Title</title>
	@RenderSection("headtag", false)
</head>
<body>
    @Html.X().ResourceManager(ViewBag.ManagerConfig as MvcResourceManagerConfig).StartupMask(new StartupMask()).Theme(Theme.Default)
    @RenderSection("bodytag", true)
</body>
</html>
