@model Uber.Core.Product

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>@ViewBag.Title</title>
</head>
<body>
    @Html.X().ResourceManager()      

    @(Html.X().GridPanel()
        .Title("Products")
        .Width(600)        
        .Height(350)
        .Store(Html.X().Store()
            .ID("Store1")
            .PageSize(2)
            .RemoteSort(true)
            .RemoteFilter(true)
            .Model(Html.X().Model()
                .IDProperty("id")
                .Fields(
                    new ModelField("id"),
                    new ModelField("name"),
                    new ModelField("dateUpdated", ModelFieldType.Date)
                )
            )
            .Proxy(
                Html.X().AjaxProxy()
                    .Url("/api/Products")                    
            )
            
            //.Proxy(
            //    Html.X().ODataProxy()
            //        .Url("/api/products") 
            //)
        )
        .ColumnModel(
            Html.X().Column().Text("id").DataIndex("id"),
            Html.X().Column().Text("Name").DataIndex("name").Flex(1),
            Html.X().Column().Text("Date Updated").DataIndex("dateUpdated")
        )
        .BottomBar(
            Html.X().PagingToolbar()
        )
    )
</body>
</html>